<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearnJava</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<style>
    .arrow {
        border: solid grey;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-bottom: 3.5%;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);

    }

    .arrow:hover{
        border-color: solid darkgrey;

    }
</style>
<body>
    <!-- Top Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" style="margin-left:10px; color:cornflowerblue" href="/Home">JavaCoders</a>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="margin-left:1%; margin-right:1%">
        <a class="navbar-brand" href="/Home/Index" style="color:#fff4e6;">JavaCoders</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Courses">Courses <i class="arrow down"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#askiseis">Exercises <i class="arrow down"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#test">Τests <i class="arrow down"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#progress">Progress <i class="arrow down"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" style="margin-left: 600px;">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item" style="margin-right:20px; margin-top:5px;">
                        <a class="nav-link" style="color: cornflowerblue; border: 1px solid cornflowerblue; padding: 5px;"> @User.Identity.Name </a>
                    </li>
                    <li class="nav-item">
                        <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="form-inline">
                            <button type="submit" class="nav-link btn btn-link">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-success" style="background-color: darkslategrey; color: whitesmoke; padding: 3px 5px; margin-right:10px; margin-top:5px;">Login</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-success" style="background-color: darkslategrey; color: whitesmoke; padding: 3px 5px; margin-top:5px;">Sign Up</a>
                    </li>
                }
            <ul class="navbar-nav ml-auto" style="margin-left: auto;">
                <li class="nav-item">
                    <a class="btn btn-success" href="#login" style="background-color: darkslategrey; color: whitesmoke;  padding: 3px 5px;">Login/Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">© 2024 JavaCoders. All rights reserved.</span>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>