@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Courses";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>


<style>
    

    /* Style the buttons inside the tab */
        .tab button {
            overflow: hidden;
        background-color: #fff4e6;
        border-color: black;
        opacity: 1;
            border-radius: 10px;
            padding: 50px 50px;
            font-size: 30px;
            cursor: pointer;
        color: #0B3C32;
            position: relative;
            float: left;
            outline: none;
            transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
            background-color: #fff4e6;
            opacity: 0.8;
    }

    /* Create an active/current tablink class */
    .tab button.active {
            background-color: #B0B0B2;
            opacity: 1;
    }

    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }

    .course-container{
        width: 100%;
        margin: 0 auto; 
        
    }

    .course-details {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        background-color: #fff4e6;
        padding: 20px;
        border: 1px solid grey;
        border-style: dotted;
    }

    .detail-item {
        margin: 1%;
        display: flex;
        align-items: center;
        font-family: Arial, sans-serif;
        text-align:center;
    }

        .detail-item i {
            font-size: 24px;
            margin-right: 20px;
            color: grey;
        }

    .detail-title {
        display: block;
        font-weight: bold;
        font-size: 14px;
        color: #333;
    }

    .detail-value {
        display: block;
        font-size: 16px;
        color: #333;
    }

    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #2980B9;
        }   

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        width: 100%;
        margin: 0 auto;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }

    .dropdown-content .show{
        display: block;
        margin-top: 0.5rem;
    }

    /*a[id^="course"]:not([id="course1"]),
    a[id^="test"]:not([id="test1"]) {
        cursor: not-allowed; /* Change cursor to indicate link is disabled */
        pointer-events: none; /* Disable pointer events */
        color: #999; /* Example color for disabled links */
        text-decoration: none; /* Remove underline */
        opacity: 0.6; /* Reduce opacity to indicate disabled state */
        /* Add other specific styles as needed */
    }*/

</style>



<body class="bg-dark text-white">

   <header style="margin-top:7%; margin-bottom:3%; text-align: center; font-size: 40px; color: #fff4e6;"> @ViewData["Title"]</header>
    <div class="course-container">
        <div class="course-details">
            <div class="detail-item">
                <i class="fas fa-chart-bar"></i>
                <div>
                    <span class="detail-title">Skill level</span>
                    <span class="detail-value">Beginner</span>
                </div>
            </div>
            <div class="detail-item">
                <i class="fas fa-clock"></i>
                <div>
                    <span class="detail-title">Time to complete</span>
                    <span class="detail-value">10 hours</span>
                </div>
            </div>
            <div class="detail-item">
                <i class="fas fa-certificate"></i>
                <div>
                    <span class="detail-title">Certificate of completion</span>
                    <span class="detail-value">Level A</span>
                </div>
            </div>
            <div class="detail-item">
                <i class="fas fa-tasks"></i>
                <div>
                    <span class="detail-title">Prerequisites</span>
                    <span class="detail-value">None</span>
                </div>
            </div>
        </div>
        <div class="dropdown mb-3 w-100" >
            <button class="btn btn-secondary dropdown-toggle w-100" onclick="myFunction()" type="button">
                Select a Course
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton" id="myDropdown1">
                <a class="dropdown-item" href="/Courses/Course11" id="course1">Module 1</a>
                <a class="dropdown-item" style="color:darkgreen" href="/Tests/Test11" id="test1">Test 1 </a>
                <a class="dropdown-item" href="/Courses/Course12" id="course2">Module 2 <i class="fa fa-lock"></i></a>
                <a class="dropdown-item" style="color:darkgreen" href="/Tests/Test12" id="test2">Test 2 <i class="fa fa-lock" style="color:darkgreen"></i></a>
                <a class="dropdown-item" href="/Courses/Course13" id="course3">Module 3 <i class="fa fa-lock"></i></a>
                <a class="dropdown-item" style="color:darkgreen" href="/Tests/Test13" id="test3">Test 3 <i class="fa fa-lock" style="color:darkgreen"></i></a>
                <a class="dropdown-item" style="color:darkgreen" href="/Tests/Test14" id="test4">Final Test <i class="fa fa-lock" style="color:darkgreen"></i></a>
            </div>
        </div>
    </div>

    <div class="course-container">
        <div class="course-details">
            <div class="detail-item" >
                <i class="fas fa-chart-bar"></i>
                <div>
                    <span class="detail-title">Skill level</span>
                    <span class="detail-value">Intermediate</span>
                </div>
            </div>
            <div class="detail-item">
                <i class="fas fa-clock"></i>
                <div>
                    <span class="detail-title">Time to complete</span>
                    <span class="detail-value">12 hours</span>
                </div>
            </div>
            <div class="detail-item">
                <i class="fas fa-certificate"></i>
                <div>
                    <span class="detail-title">Certificate of completion</span>
                    <span class="detail-value">Level B</span>
                </div>
            </div>
            <div class="detail-item">
                <i class="fas fa-tasks"></i>
                <div>
                    <span class="detail-title">Prerequisites</span>
                    <span class="detail-value">Level A</span>
                </div>
            </div>
        </div>
        <div class="dropdown mb-3 w-100">
            <button class="btn btn-secondary dropdown-toggle w-100" onclick="myFunction2()" type="button">
                Select a Course
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton" id="myDropdown2">
                <a class="dropdown-item" href="/Courses/Course21" id="course5">Module 1 <i class="fa fa-lock"></i></a>
                <a class="dropdown-item" style="color:darkgreen" href="/Tests/Test21" id="test5">Test 1 <i class="fa fa-lock" style="color:darkgreen"></i></a>
                <a class="dropdown-item" href="/Courses/Course22" id="course6">Module 2 <i class="fa fa-lock"></i></a>
                <a class="dropdown-item" style="color:darkgreen" href="/Tests/Test22" id="test6">Test 2 <i class="fa fa-lock" style="color:darkgreen"></i></a>
                <a class="dropdown-item" href="/Courses/Course23" id="course7">Module 3 <i class="fa fa-lock"></i></a>
                <a class="dropdown-item" style="color:darkgreen" href="/Tests/Test23" id="test7">Test 3 <i class="fa fa-lock" style="color:darkgreen"></i></a>
                <a class="dropdown-item" style="color:darkgreen" href="/Tests/Test24" id="test8">Final Test <i class="fa fa-lock" style="color:darkgreen"></i></a>
            </div>
        </div>
    </div>
    <div class="course-container">
        <div class="course-details">
            <div class="detail-item">
                <i class="fas fa-chart-bar"></i>
                <div>
                    <span class="detail-title">Skill level</span>
                    <span class="detail-value">Advanced</span>
                </div>
            </div>
            <div class="detail-item">
                <i class="fas fa-clock"></i>
                <div>
                    <span class="detail-title">Time to complete</span>
                    <span class="detail-value">15 hours</span>
                </div>
            </div>
            <div class="detail-item">
                <i class="fas fa-certificate"></i>
                <div>
                    <span class="detail-title">Certificate of completion</span>
                    <span class="detail-value">Level C</span>
                </div>
            </div>
            <div class="detail-item">
                <i class="fas fa-tasks"></i>
                <div>
                    <span class="detail-title">Prerequisites</span>
                    <span class="detail-value">Level B</span>
                </div>
            </div>
        </div>
        <div class="dropdown mb-3 w-100">
            <button class="btn btn-secondary dropdown-toggle w-100" onclick="myFunction3()" type="button">
                Select a Course
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton" id="myDropdown3">
                <a class="dropdown-item" href="/Courses/Course31" id="course9">Module 1 <i class="fa fa-lock"></i></a>
                <a class="dropdown-item" style="color:darkgreen" href="/Tests/Test31" id="test9">Test 1 <i class="fa fa-lock" style="color:darkgreen"></i></a>
                <a class="dropdown-item" href="/Courses/Course32" id="course10">Module 2 <i class="fa fa-lock"></i></a>
                <a class="dropdown-item" style="color:darkgreen" href="/Tests/Test32" id="test10">Test 2 <i class="fa fa-lock" style="color:darkgreen"></i></a>
                <a class="dropdown-item" href="/Courses/Course33" id="course11"> Module 3 <i class="fa fa-lock"></i></a>
                <a class="dropdown-item" style="color:darkgreen" href="/Tests/Test33" id="test11">Test 3 <i class="fa fa-lock" style="color:darkgreen"></i></a>
                <a class="dropdown-item" style="color:darkgreen" href="/Tests/Test34" id="test12">Final Test <i class="fa fa-lock" style="color:darkgreen"></i></a>
            </div>
        </div>

    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown1").classList.toggle("show");

        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn1')) {
                var dropdowns = document.getElementsByClassName("dropdown-content1");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        function myFunction2() {
            document.getElementById("myDropdown2").classList.toggle("show");

        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn2')) {
                var dropdowns = document.getElementsByClassName("dropdown-content2");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

            function myFunction3() {
                document.getElementById("myDropdown3").classList.toggle("show");

            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn3')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content3");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }

            
    </script>
</body>