@{
    ViewData["Title"] = "Course32";

}

<body class="bg-dark text-white">

    <header style="margin-top:7%; margin-bottom:3%; text-align: center; font-size: 40px; color: #fff4e6;"> Course 2: Multithreading and Concurrency</header>

    <div>
        <b> Δημιουργία και εκτέλεση νημάτων (threads)</b>
        <div>
            Τα νήματα μπορούν να δημιουργηθούν επεκτείνοντας την κλάση Thread ή υλοποιώντας το Runnable interface.
        </div><br />
        <picture>
            <img src="/Images/thread.png" alt="Thread" style="width:auto;">
        </picture><br />
        <div>
            Ή εφαρμόζοντας το Runnable:
        </div><br />
        <picture>
            <img src="/Images/Runnable.png" alt="Runnable implementation" style="width:auto;">
        </picture><br />
        <b> Συγχρονισμός</b>
        <div>
            Ο συγχρονισμός αποτρέπει την ταυτόχρονη πρόσβαση σε κρίσιμα τμήματα του κώδικα, διασφαλίζοντας την ασφάλεια του νήματος.
        </div><br />
        <picture>
            <img src="/Images/Synchronization.png" alt="Synchronization" style="width:auto;">
        </picture><br />
        <b> Executor Framework</b>
        <div>
            Το Executor Framework παρέχει έναν τρόπο διαχείρισης μιας δεξαμενής νημάτων.
        </div><br />
        <picture>
            <img src="/Images/executor.png" alt="Executor" style="width:auto;">
        </picture><br />
    </div>
</body>