@{
    ViewData["Title"] = "Course13";

}

<body class="bg-dark text-white">

    <header style="margin-top:7%; margin-bottom:3%; text-align: center; font-size: 40px; color: #fff4e6;"> Course 3: Object-Oriented Programming</header>

    <div>
        <b> Κλάσεις και αντικείμενα</b>
        <div>
            Η Java είναι μια αντικειμενοστραφή γλώσσα, που σημαίνει ότι μοντελοποιεί οντότητες του πραγματικού κόσμου ως αντικείμενα. 
            Μια κλάση είναι ένα προσχέδιο για αντικείμενα, που ορίζει πεδία και μεθόδους.
        </div><br />
        <picture>
            <img src="/Images/class.png" alt="Class" style="width:auto;">
        </picture><br />
        <div>
            Τα αντικείμενα είναι στηγμιότυπα των κλάσεων.
        </div><br />
        <picture>
            <img src="/Images/object.png" alt="Object" style="width:auto;">
        </picture><br />
        <b> Μέθοδοι</b>
        <div>
            Οι μέθοδοι ορίζουν συμπεριφορές για αντικείμενα και μπορούν να επιστρέψουν τιμές.
        </div><br />
        <picture>
            <img src="/Images/method.png" alt="Method" style="width:auto;">
        </picture><br />
        <b> Constructors</b>
        <div>
            Οι constructors αρχικοποιούν νέα αντικείμενα. Έχουν το ίδιο όνομα με την κλάση και δεν υπάρχει τύπος επιστροφής.
        </div><br />
        <picture>
            <img src="/Images/constructor.png" alt="Constructors" style="width:auto;">
        </picture><br />
    </div>
</body>
