@{
    ViewData["Title"] = "Course33";

}

<body class="bg-dark text-white">

    <header style="margin-top:7%; margin-bottom:3%; text-align: center; font-size: 40px; color: #fff4e6;"> Course 3: Java Memory Management and Garbage Collection</header>

    <div>
        <b> Μοντέλο μνήμης</b>
        <div>
            Το μοντέλο μνήμης της Java διαιρεί τη μνήμη σε διάφορες περιοχές: Σωρός (Heap), Στοίβα (Stack), Κώδικας και Δεδομένα.
            Τα αντικείμενα εκχωρούνται στο σωρό και οι τοπικές μεταβλητές και οι κλήσεις μεθόδων διαχειρίζονται στη στοίβα.
        </div><br />
        <b> Μηχανισμοί συλλογής σκουπιδιών (Garbage Collection Mechanisms)</b>
        <div>
            Η συλλογή σκουπιδιών στην Java ανακτά αυτόματα τη μνήμη που χρησιμοποιείται από αντικείμενα που δεν είναι πλέον προσβάσιμα. 
            Οι κοινοί αλγόριθμοι περιλαμβάνουν:
        </div><br />
        <div>
            <ul style="list-style-type: square;">
                <li>Mark-and-Sweep: Επισήμανση προσβάσιμων αντικειμένων, σάρωση αντικειμένων χωρίς αναφορά.</li>
                <li>Copying: Χρησιμοποιείται στη Νέα Γενιά, αρχές αντιγραφής ζωντανών αντικειμένων.</li>
                <li>Mark-Sweep-Compact: Συνδυάζει τη σήμανση, το σκούπισμα και τη συμπίεση για τη μείωση του κατακερματισμού.</li>
                <li>Generational Garbage Collection: Young Generation (Eden, Survivor spaces), Old Generation management.</li>
                <li>Parallel Garbage Collection: Αυτή η τεχνική περιλαμβάνει τη χρήση πολλαπλών νημάτων για την εκτέλεση συλλογής σκουπιδιών ταυτόχρονα με τα νήματα της εφαρμογής.</li>
                <li>Concurrent  Garbage Collection: Σε αντίθεση με την παράλληλη συλλογή απορριμμάτων, η ταυτόχρονη συλλογή απορριμμάτων στοχεύει να ελαχιστοποιήσει τους χρόνους παύσης 
                    εκτελώντας τη συλλογή απορριμμάτων ταυτόχρονα με τα νήματα της εφαρμογής. 
                    Λειτουργεί παρεμβάλλοντας τις φάσεις συλλογής σκουπιδιών με την εκτέλεση του προγράμματος.</li>
                <li>Incremental  Garbage Collection: Παρόμοια με την ταυτόχρονη συλλογή σκουπιδιών, η σταδιακή συλλογή απορριμμάτων διασπά τη διαδικασία συλλογής σκουπιδιών 
                    σε μικρότερα μέρη (αυξήσεις) που παρεμβάλλονται με την εκτέλεση του προγράμματος. 
                    Βοηθά στη μείωση της διάρκειας των παύσεων επιτρέποντας στο πρόγραμμα να εκτελείται μεταξύ αυτών των προσαυξήσεων.</li>
            </ul>
        </div><br />
    </div>
</body>