@{
    ViewData["Title"] = "Course31";

}

<body class="bg-dark text-white">

    <header style="margin-top:7%; margin-bottom:3%; text-align: center; font-size: 40px; color: #fff4e6;"> Course 1: Java Streams and Lambda Expressions</header>

    <div>
        <b> Εισαγωγή στα Streams</b>
        <div>
            Τα Streams αντιπροσωπεύουν ακολουθίες στοιχείων που υποστηρίζουν διαδοχικές και παράλληλες λειτουργίες.
            Παρέχουν μια προσέγγιση υψηλού επιπέδου στην επεξεργασία δεδομένων.
        </div><br />
        <picture>
            <img src="/Images/stream.png" alt="Stream" style="width:auto;">
        </picture><br />
        <b> Stream λειτουργίες (filter, map, reduce)</b>
        <div>
            <ul style="list-style-type: square;">
                <li>filter(): Φιλτράρει στοιχεία με βάση μια συνθήκη.</li>
                <li>map(): Μετασχηματίζει στοιχεία.</li>
                <li>reduce(): Συνδυάζει στοιχεία για να παράγει ένα μόνο αποτέλεσμα.</li>
            </ul>
        </div><br />
        <picture>
            <img src="/Images/reduse.png" alt="reduse()" style="width:auto;">
        </picture><br />
        <b> Εκφράσεις Lambda</b>
        <div>
            Τα Lambdas παρέχουν έναν σαφή και συνοπτικό τρόπο αναπαράστασης μιας μεθόδου interface χρησιμοποιώντας μια έκφραση.
        </div><br />
        <picture>
            <img src="/Images/lambda.png" alt="Lambda Expression" style="width:auto;">
        </picture><br />
    </div>
</body>