@{
    ViewData["Title"] = "Course12";

}

<body class="bg-dark text-white">

    <header style="margin-top:7%; margin-bottom:3%; text-align: center; font-size: 40px; color: #fff4e6;"> Course 2: Control Structures</header>

    <div>
        <b> Δομές επιλογής (if-else, switch)</b>
        <div>
            Οι δομές επιλογής επιτρέπουν στο πρόγραμμά σας να λαμβάνει αποφάσεις βάσει συνθηκών.
            Η δήλωση if-else εκτελεί ένα μπλοκ κώδικα εάν μια καθορισμένη συνθήκη είναι αληθής και προαιρετικά ένα άλλο μπλοκ εάν η συνθήκη είναι ψευδής.
        </div><br />
        <picture>
            <img src="/Images/if.png" alt="If Statement" style="width:auto;">
        </picture><br />
        <div>
            Η δήλωση switch αξιολογεί μια έκφραση και εκτελεί μπλοκ κώδικα με βάση τις αντίστοιχες των labels.
        </div><br />
        <picture>
            <img src="/Images/switch.png" alt="Switch Statement" style="width:auto;">
        </picture><br />
        <b> Δομές επανάληψης</b>
        <div>
            Οι δομές επανάληψης χρησιμοποιούνται για την επανειλημμένη εκτέλεση ενός μπλοκ κώδικα. 
            Η δοή επανάληψης for χρησιμοποιείται συνήθως για έναν γνωστό αριθμό επαναλήψεων:
        </div><br />
        <picture>
            <img src="/Images/for.png" alt="For Loop" style="width:auto;">
        </picture><br />
        <b> Βασική σύνταξη και τύποι δεδομένων</b>
        <div>
            Η δοή επανάληψης while εκτελείται εφόσον μια συνθήκη είναι αληθής:
        </div><br />
        <picture>
            <img src="/Images/while.png" alt="While Loop" style="width:auto;">
        </picture><br />
        <b> Συνήθεις τύποι δεδομένων στην Java:</b>
        <div>
            Η δοή επανάληψης do-while είναι παρόμοια με τοη δομή επανάληψης while, αλλά εγγυάται ότι το μπλοκ κώδικα εκτελείται τουλάχιστον μία φορά.
        </div><br />
        <picture>
            <img src="/Images/do_while.png" alt="Do-While Loop" style="width:auto;">
        </picture><br />
    </div>
</body>
