@{
    ViewData["Title"] = "Course23";

}

<body class="bg-dark text-white">

    <header style="margin-top:7%; margin-bottom:3%; text-align: center; font-size: 40px; color: #fff4e6;"> Course 3: Collections Framework</header>

    <div>
        <b> List, Set και Map Interfaces</b>
        <div>
            Το Java Collections Framework παρέχει ένα σύνολο interfaces και κλάσεων για αποθήκευση και χειρισμό ομάδων δεδομένων ως ενιαία μονάδα. Τα βασικά interfaces περιλαμβάνουν:
        </div><br />
        <div>
            <ul style="list-style-type: square;">
                <li>List: Μία διατεταγμένη συλλογή (π.χ. ArrayList, LinkedList) </li>
                <li>Set: Μια συλλογή που δεν επιτρέπει διπλότυπα στοιχεία (π.χ. HashSet, TreeSet)</li>
                <li>Map: Μια συλλογή ζευγών κλειδιών-τιμών (π.χ. HashMap, TreeMap)</li>
            </ul><br />
        </div><br />
        <b> Εγαρμογές σε ArrayList, LinkedList, HashSet και HashMap</b>
        <div>
            <ul style="list-style-type: square;">
                <li>ArrayList: Ένας πίνακας με δυνατότητα αλλαγής μεγέθους, που επιτρέπει την πρόσβαση με ευρετήριο σε στοιχεία.</li>
            </ul><br />
        </div><br />
        <picture>
            <img src="/Images/ArrayList.png" alt="Array List" style="width:auto;">
        </picture><br />
        <div>
            <ul style="list-style-type: square;">
                <li>LinkedList: Τα στοιχεία συνδέονται διπλά, παρέχοντας γρήγορη εισαγωγή και διαγραφή.</li>
            </ul><br />
        </div><br />
        <picture>
            <img src="/Images/LinkedList.png" alt="Linked List" style="width:auto;">
        </picture><br />
        <div>
            <ul style="list-style-type: square;">
                <li>HashSet: Χρησιμοποιεί έναν πίνακα κατακερματισμού για αποθήκευση, διασφαλίζοντας ότι δεν υπάρχουν διπλότυπα και επιτρέποντας γρήγορη πρόσβαση.</li>
            </ul><br />
        </div><br />
        <picture>
            <img src="/Images/HashSet.png" alt="Hash Set" style="width:auto;">
        </picture><br />
        <div>
            <ul style="list-style-type: square;">
                <li>HashMap: Υλοποιεί το Map interface χρησιμοποιώντας έναν πίνακα κατακερματισμού, επιτρέποντας γρήγορη ανάκτηση με κλειδί</li>
            </ul><br />
        </div><br />
        <picture>
            <img src="/Images/HashMap.png" alt="Hash Map" style="width:auto;">
        </picture><br />
    </div>
</body>