@{
    ViewData["Title"] = "Course22";

}

<body class="bg-dark text-white">

    <header style="margin-top:7%; margin-bottom:3%; text-align: center; font-size: 40px; color: #fff4e6;"> Course 2: Exception Handling</header>

    <div>
        <b> Try-Catch Blocks</b>
        <div>
            Το exception handling γίνεται μέσω μπλοκ try-catch. Το μπλοκ try περιέχει κώδικα που μπορεί να δημιουργήσει ένα exception, ενώ το catch χειρίζεται το exception.
        </div><br />
        <picture>
            <img src="/Images/exception.png" alt="Exception" style="width:auto;">
        </picture><br />
        <b> Throwing Exceptions</b>
        <div>
            Μπορείτε να δημιουργήσετε εξαιρέσεις χρησιμοποιώντας τη λέξη-κλειδί "throw".
        </div><br />
        <picture>
            <img src="/Images/throw.png" alt="Throwing Exception" style="width:auto;">
        </picture><br />
        <b> Προσαρμοσμένα exceptions</b>
        <div>
            Μπορείτε να δημιουργήσετε τις δικά σας exceptions επεκτείνοντας την κλάση Exception.
        </div><br />
        <picture>
            <img src="/Images/custom_exception.png" alt="Custom Exception" style="width:auto;">
        </picture><br />
    </div>
</body>