@{
    ViewData["Title"] = "Course21";

}

<body class="bg-dark text-white">

    <header style="margin-top:7%; margin-bottom:3%; text-align: center; font-size: 40px; color: #fff4e6;"> Course 1: Advanced OOP Concepts</header>

    <div>
        <b> Κληρονομικότητα</b>
        <div>
            Η κληρονομικότητα επιτρέπει σε μια κλάση να κληρονομεί πεδία και μεθόδους από μια άλλη κλάση. 
            Η υποκλάση (παιδί) επεκτείνει την υπερκλάση (γονέας).
        </div><br />
        <picture>
            <img src="/Images/Inheritance.png" alt="Inheritance" style="width:auto;">
        </picture><br />
        <b> Πολυμορφισμός</b>
        <div>
            Ο πολυμορφισμός επιτρέπει στις μεθόδους να κάνουν διαφορετικά πράγματα με βάση το αντικείμενο στο οποίο δρα. 
            Μπορεί να επιτευχθεί μέσω της παράκαμψης μεθόδου και της υπερφόρτωσης μεθόδου.
        </div><br />
        <picture>
            <img src="/Images/Polymorphism.png" alt="Polymorphism" style="width:auto;">
        </picture><br />
        <b> Abstract κλάσεις and Interfaces</b>
        <div>
            Οι abstract κλάσεις δεν μπορούν να δημιουργηθούν και μπορεί να περιέχουν abstract μεθόδους (μέθοδοι χωρίς σώμα).
        </div><br />
        <picture>
            <img src="/Images/abstract.png" alt="Abstract Class" style="width:auto;">
        </picture><br />
        <div>
            Τα interfaces ορίζουν μεθόδους που πρέπει να εφαρμόσει μια κλάση.
        </div><br />
        <picture>
        <img src="/Images/interface.png" alt="Interface" style="width:auto;">
        </picture><br />
    </div>
</body>