@{
    ViewData["Title"] = "Course11";

}

<body class="bg-dark text-white">

    <header style="margin-top:7%; margin-bottom:3%; text-align: center; font-size: 40px; color: #fff4e6;"> Course 1: Java Basics</header>

    <div>
        <b> Εισαγωγή στη Java</b>
        <div>
            Η Java είναι μια γλώσσα προγραμματισμού υψηλού επιπέδου, βασισμένη σε κλάσεις, αντικειμενοστραφής, 
            σχεδιασμένη να έχει όσο το δυνατόν λιγότερες εξαρτήσεις υλοποίησης. 
            Χρησιμοποιείται ευρέως για την κατασκευή εφαρμογών εταιρικής κλίμακας. 
            Η Java είναι γνωστή για την ικανότητά της "γράψτε μια φορά, εκτελέστε οπουδήποτε",
            που σημαίνει ότι ο μεταγλωττισμένος κώδικας Java μπορεί να εκτελεστεί σε όλες τις πλατφόρμες 
            που υποστηρίζουν Java χωρίς την ανάγκη εκ νέου μεταγλώττισης.
        </div><br />
        <b> Ρύθμιση Java Development Environment</b>
        <div>
            Για να ξεκινήσετε την ανάπτυξη σε Java, πρέπει να εγκαταστήσετε το Java Development Kit (JDK), 
            το οποίο περιλαμβάνει το Java Runtime Environment (JRE) και εργαλεία ανάπτυξης όπως ο μεταγλωττιστής (javac). 
            Τα δημοφιλή Περιβάλλοντα Ολοκληρωμένης Ανάπτυξης (IDE) για Java περιλαμβάνουν τα IntelliJ IDEA, Eclipse και NetBeans.
        </div><br />
        <b> Βασική σύνταξη και τύποι δεδομένων</b>
        <div>
            Τα προγράμματα Java είναι δομημένα ως κλάσεις. 
            Η κύρια μέθοδος χρησιμεύει ως σημείο εισόδου για οποιαδήποτε εφαρμογή Java:
        </div><br />
        <picture>
            <img src="/Images/HelloWorld.png" alt="Hello World" style="width:auto;">
        </picture><br />
        <b> Συνήθεις τύποι δεδομένων στην Java:</b>
        <div>
            <ul style="list-style-type: square;">
                <li>int για ακέραιους αριθμούς</li>
                <li> double για αριθμούς κινητής υποδιαστολής</li>
                <li>char για χαρακτήρες</li>
                <li>boolean για τιμές true/false</li>
            </ul>
        </div><br />
    </div>
</body>